<topbar page="{{'app.admin.title' | translate}}"></topbar>

<md-content layout-padding>
    <md-card>
        <md-tabs md-swipe-content md-dynamic-height md-center-tabs md-border-bottom>
            <md-tab label="{{'app.admin.registered' | translate}}">
                <md-tab-body>
                    <md-list>
                        <md-list-item class="md-2-line" ng-repeat="user in $ctrl.confirmedUsers">
                            <img alt="{{ user.name }}" ng-src="{{$ctrl.imagesServer}}/50/50/uploads/{{user.avatar}}" class="md-avatar" />
                            <div class="md-list-item-text">
                                <strong>{{user.name}}</strong>
                                <p>{{user.email}}</p>
                            </div>
                            <md-button class="md-icon-button md-secondary" aria-label="Delete" ng-click="$ctrl.showConfirm($event,user)">
                                <md-icon>delete</md-icon>
                                <md-tooltip>
                                    {{'app.admin.deleteTooltip' | translate}}
                                </md-tooltip>
                            </md-button>
                        </md-list-item>
                    </md-list>
                </md-tab-body>
            </md-tab>
            <md-tab ng-if="$ctrl.notConfirmedUsers.length > 0" label="{{'app.admin.pending' | translate}}">
                <md-tab-body>
                    <md-list>
                        <md-list-item class="md-2-line" ng-repeat="user in $ctrl.notConfirmedUsers">
                            <img alt="{{ user.name }}" ng-src="{{$ctrl.imagesServer}}/50/50/uploads/{{user.avatar}}" class="md-avatar" />
                            <div class="md-list-item-text">
                                <strong>{{user.name}}</strong>
                                <p>{{user.email}}</p>
                            </div>
                            <md-button class="md-icon-button md-secondary" aria-label="Delete" ng-click="$ctrl.showConfirm($event,user)">
                                <md-icon>delete</md-icon>
                                <md-tooltip>
                                    {{'app.admin.deleteTooltip' | translate}}
                                </md-tooltip>
                            </md-button>
                        </md-list-item>
                    </md-list>
                </md-tab-body>
            </md-tab>
        </md-tabs>
    </md-card>
</md-content>

<md-button ng-class="{ 'md-mini': !$ctrl.$mdMedia('gt-sm') }" class="md-fab md-secondary md-fab-bottom-right new-button" ng-click="$ctrl.signup($event)" aria-label="{{'app.admin.newTooltip' | translate}}">
    <md-tooltip md-direction="top">{{'app.admin.newTooltip' | translate}}</md-tooltip>
    <md-icon>person_add</md-icon>
</md-button>