<div class="md-inline-form" ng-cloak>
	<md-toolbar class="md-whiteframe-z1">
		<h4>Lista de usuarios</h4>
	</md-toolbar>
	<md-content class="paddedForm" layout-padding>
		<md-list class="md-dense">
			<md-list-item class="md-3-line" ng-repeat="user in admin.users" ng-click="">
				<img ng-src="{{imagesServer}}/250/250/uploads/{{user.avatar}}?fit=true&force=true" alt="{{user.name}}" class="md-avatar">
				<div class="md-list-item-text">
					<strong>{{ user.name }}</strong>
					<p>{{ user.email }}</p>
					<small ng-if="!user.confirmed">
						Pendiente de confirmación
					</small>
				</div>

				<md-button class="md-icon-button" aria-label="Settings" ng-click="admin.showConfirm($event,user)">
					<md-icon>delete</md-icon>
				</md-button>
			</md-list-item>
		</md-list>
	</md-content>
</div>

<md-button class="md-fab md-mini md-hue-2 new-button" ui-sref="signup" aria-label="Nueva competición">
	<md-icon md-svg-icon="add"></md-icon>
</md-button>
