<topbar page="{{'app.account.settings.title' | translate}}"></topbar>

<md-content layout-padding>
    <md-card class="confirm-card">
        <md-card-title>
            <md-card-title-text>
                <span class="md-title">{{'app.account.settings.changeData' | translate}}</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <form name="userForm" ng-submit="$ctrl.confirm(userForm)" enctype="multipart/form-data" novalidate>
                <div class="form-container">
                    <div class="avatar-container">
                        <file-input avatar="$ctrl.user.avatar" file="$ctrl.file"></file-input>
                    </div>
                    <div class="inputs-container">
                        <md-input-container>
                            <label>{{'app.account.signup.name' | translate}}</label>
                            <input type="text" name="name" ng-model="$ctrl.user.name" required/>
                            <div ng-messages="userForm.name.$error">
                                <div ng-message="required">{{'required' | translate}}</div>
                            </div>
                        </md-input-container>


                        <md-input-container>
                            <label>{{'app.account.signup.email' | translate}}</label>
                            <input type="email" name="email" ng-model="$ctrl.user.email" ng-pattern="/^.+@.+\..+$/" ng-required="true" mongoose-error/>
                            <div ng-messages="userForm.email.$error">
                                <div ng-message="required">{{'required' | translate}}</div>
                                <div ng-message-exp="['pattern']">{{'app.account.signup.validMail' | translate}}</div>
                                <div ng-message="mongoose">{{'app.account.signup.mailInUse' | translate}}</div>
                            </div>
                        </md-input-container>


                        <md-input-container>
                            <label>{{'app.account.settings.address' | translate}}</label>
                            <input type="text" name="address" ng-model="$ctrl.user.address" ng-required="true" />
                            <div ng-messages="userForm.address.$error">
                                <div ng-message="required">{{'required' | translate}}</div>
                            </div>
                        </md-input-container>

                        <md-input-container>
                            <label>{{'app.account.signup.role' | translate}}</label>
                            <md-select name="role" class="option" ng-model="$ctrl.user.role" ng-disabled="!$ctrl.isAdmin">
                                <md-option ng-repeat="role in $ctrl.roles" value="{{role}}">{{role}}</md-option>
                            </md-select>
                            <div ng-messages="userForm.role.$error">
                                <div ng-message="required">{{'required' | translate}}</div>
                            </div>
                        </md-input-container>
                    </div>
                </div>

                <p class="errorMessage">{{ $ctrl.errors.other }}</p>

                <div class="actions-container" layout-align="center center">
                    <md-button type="submit" class="md-raised md-primary">{{'app.account.settings.confirm' | translate}}</md-button>
                </div>
            </form>
        </md-card-content>
    </md-card>

    <md-card class="confirm-card">
        <md-card-title>
            <md-card-title-text>
                <span class="md-title">{{'app.account.settings.changePassword' | translate}}</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <form name="userPasswordForm" ng-submit="userPasswordForm.$valid && $ctrl.changePassword(userPasswordForm)" novalidate>
                <md-input-container>
                    <label>{{'app.account.settings.currentPassword' | translate}}</label>
                    <input type="password" name="password" ng-model="$ctrl.user.oldPassword" mongoose-error required>
                    <div ng-messages="userPasswordForm.password.$error">
                        <div ng-message="required">{{'required' | translate}}</div>
                        <div ng-message="mongoose">{{'app.account.settings.incorrectPassword' | translate}}</div>
                    </div>
                </md-input-container>


                <md-input-container>
                    <label>{{'app.account.settings.newPassword' | translate}}</label>
                    <input type="password" name="newPassword" ng-model="$ctrl.user.newPassword" ng-minlength="3" required>
                    <div ng-messages="userPasswordForm.newPassword.$error">
                        <div ng-message="required">{{'required' | translate}}</div>
                        <div ng-message="minlength">{{'app.account.settings.passwordMinLength' | translate}}</div>
                    </div>
                </md-input-container>

                <md-input-container>
                    <label>{{'app.account.settings.confirmNewPassword' | translate}}</label>
                    <input type="password" name="confirmPassword" class="form-control" ng-model="$ctrl.user.confirmPassword" ng-minlength="3" match="$ctrl.user.newPassword" required>
                    <div ng-messages="userPasswordForm.confirmPassword.$error">
                        <div ng-message="required">{{'required' | translate}}</div>
                        <div ng-message="minlength">{{'app.account.settings.passwordMinLength' | translate}}</div>
                        <div ng-message="match">{{'app.account.settings.passwordMatch' | translate}}</div>
                    </div>
                </md-input-container>

                <div class="actions-container" layout-align="center center">
                    <md-button type="submit" class="md-raised md-primary">{{'app.account.settings.confirm' | translate}}</md-button>
                </div>
            </form>
        </md-card-content>
    </md-card>
</md-content>