<topbar page="{{$ctrl.competition.name}}"></topbar>

<md-content>
    <md-card>
        <classification competition="$ctrl.competition"></classification>
    </md-card>

    <div class="week-container" ng-repeat="week in $ctrl.competition.weeks">
        <md-card>
            <week info="week"></week>
        </md-card>

    </div>

    <section ng-if="$ctrl.Auth.isAdmin()" class="actions-container" layout-align="center center">
        <md-button ng-click="$ctrl.updateCompetition()" class="md-raised md-primary">{{'app.competitions.details.save' | translate}}</md-button>
    </section>

</md-content>
