/* Login screen */

.login-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.login-card {
    max-width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    box-shadow: 0 0 300px black;
}

.login-card .md-card-image {
    width: 90%;
    margin: 10px auto 0 auto;
}

.login-card md-input-container {
    display: block;
}

div[ui-view] login md-content {
    background: url(../../../assets/images/login.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}