/* Login screen */

.login-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.login-card {
    max-width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.login-card md-input-container {
    display: block;
}

div[ui-view] login md-content {
    background: url(../../../assets/images/login.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}