<!--<md-content class="match-container">
    <form name="newMatchForm" ng-submit="$ctrl.create(newMatchForm)" novalidate>
        <div class="inline-container">
            <md-input-container class="md-inline">
                <label>Equipo local</label>
                <input type="" name="" value="">
            </md-input-container>
            <md-input-container class="md-inline">
                <label>Equipo visitante</label>
                <input type="" name="" value="">
            </md-input-container>
        </div>
        <div class="inline-container">
            <md-input-container class="md-inline">
                <label>Fecha</label>
                <input type="" name="" value="">
            </md-input-container>
            <md-input-container class="md-inline">
                <label>Hora</label>
                <input type="" name="" value="">
            </md-input-container>
        </div>
        <md-input-container>
            <label>Campo de juego</label>
            <input type="" name="" value="">
        </md-input-container>
    </form>


</md-content>-->

<div class="match-container">
    <div class="match-date-container">
        <md-datepicker ng-model="$ctrl.match.date" md-placeholder="Fecha"></md-datepicker>
        <md-input-container md-no-float>
            <input type="text" placeholder="Hora" size="6">
        </md-input-container>
    </div>

    <div class="match-teams-container">
        <md-input-container md-no-float>
            <md-select name="teams" ng-disabled="!$ctrl.hasTeams" placeholder="Equipo local" ng-model="$ctrl.match.localTeam" required>
                <md-option class="md-secondary" ng-value="team._id" ng-repeat="team in $ctrl.teams">{{team.name}}</md-option>
            </md-select>
        </md-input-container>
        <h4 class="md-headline">vs</h4>
        <md-input-container md-no-float>
            <md-select name="teams" placeholder="Equipo visitante" ng-model="$ctrl.match.visitingTeam" required>
                <md-option class="md-secondary" ng-value="team._id" ng-repeat="team in $ctrl.teams">{{team.name}}</md-option>
            </md-select>
        </md-input-container>
    </div>

    <div class="match-other-container">
        <md-input-container md-no-float>
            <input type="text" placeholder="Campo de juego">
        </md-input-container>
    </div>
    <md-divider></md-divider>
</div>