<topbar page="$ctrl.title"></topbar>

<md-content layout-padding>
    <div class="filter-container" layout-padding>
        <div class="category-filter">
            <h4>Categoría</h4>
            <div>
                <md-checkbox ng-checked="$ctrl.exists(category)" class="md-secondary" ng-click="$ctrl.toggle(category)" ng-value="category" ng-repeat="category in $ctrl.allCategories">{{category}}</md-checkbox>
            </div>
        </div>
    </div>
</md-content>

<md-content ng-show="$ctrl.competitions.length > 0" layout-padding>
    <md-card>
        <md-list>
            <md-list-item class="md-3-line" ng-click="$ctrl.detail(competition._id)" ng-repeat="competition in $ctrl.competitions">
                <div class="md-list-item-text">
                    <strong>{{competition.name}}</strong>
                    <p>{{competition.category}}</p>
                    <small>{{competition.year}}</small>
                </div>
                <md-button class="md-icon-button md-secondary delete-button" aria-label="Eliminar" ng-click="$ctrl.showConfirm($event,competition)">
                    <md-icon>delete</md-icon>
                </md-button>
            </md-list-item>
        </md-list>
    </md-card>
</md-content>

<md-button class="md-fab md-mini md-secondary md-fab-bottom-right new-button" ui-sref="createCompetitionStepOne" aria-label="Nueva competición">
    <md-tooltip md-direction="top">Nueva competición</md-tooltip>
    <md-icon>add</md-icon>
</md-button>