.toolbardemoBasicUsage md-toolbar md-icon.md-default-theme {
  color: white; }
  
/* color icons */
md-input-container:not(.md-input-invalid) > md-icon {
    color: green; }
md-input-container:not(.md-input-invalid) > md-icon {
    color: dodgerblue; }
md-input-container.md-input-invalid > md-icon {
    color: red; }
	
/* links on md-buttons */
a.md-button, a.md-button:hover, a.md-button:active, a.md-button:visited { color: white; }

/* md-select */
md-select.option {
	width: 15%;
}

/* md-button */
a.md-button {
  line-height: 52px;
}

.form {
	width : 50% !important;
	margin: 0 auto;
}

md-list a.md-button {
    color: black !important;
    text-align: left;
}

.md-button.md-icon-button {
    margin: auto;
}

a.buttonText.loginBtn {
    min-width: 140px;
}

a.buttonText.exitBtn {
    min-width: 100px;
}

.mainHeader.mainHeaderNotLogged {
    width: 90%;
}

.hiLogged {
    width: 200px;
    margin: auto;
    text-align: center;
}

md-menu-item {
    color: black;
}

.spanLogged {
    word-break: break-all;
    margin: auto;
}

/* Body */

body {
    overflow-x: hidden;
}

#subBody {
 	overflow-y: auto;
}

.paddedBlock {
	flex: 1;
}

/* Toolbar area */

.menu {
  background-color: transparent;
  border: none;
  height: 38px;
  margin: 16px;
  width: 36px;
}

div.logo{
    width: 250px;
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.mainHeader {
    width: 80%;
    text-align: center;
    /* width: 20%; */
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 10%;
    margin-left: 0px;
    margin-right: 0px;
}

/* resize images */
.logo img {
    width: 100%;
    height: auto;
}

md-toolbar h4 {
  margin: auto;
  font-weight: 500;
}

h4{
     word-wrap: break-word;
     -webkit-hyphens: auto;
     -moz-hyphens: auto;
     -ms-hyphens: auto;
     -o-hyphens: auto;
     hyphens: auto;
     cursor: default;

     -webkit-touch-callout: none; /* iOS Safari */
     -webkit-user-select: none;   /* Chrome/Safari/Opera */
     -khtml-user-select: none;    /* Konqueror */
     -moz-user-select: none;      /* Firefox */
     -ms-user-select: none;       /* IE/Edge */
     user-select: none;

}

/* Sidenav area */

md-list-item > button {
  width:100%;
  text-align:left !important;
  height:70px;;
}

md-icon.avatar {
  margin-right: 20px;
}

md-icon.icon {
  margin-right: 20px;
}

md-list .md-button.selected {
color: #03a9f4;
}


button#main {
  margin-bottom: 10px;
}

md-sidenav > md-toolbar {
  height:64px;
}

md-sidenav {
   width: 300px; 
}

md-list-item {
  overflow: hidden;
}

/* Primary content area */


#content  {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 5px;
}

#content .md-button.contact {
  background-color: transparent;
  border: none;
  width: 48px;
  height: 48px;
  margin: 8px auto 16px 0;
  position: absolute;
  top: 10px;
  right: 40px;
}

#content md-icon.avatar {
  margin-top: 10px;
}

#content .md-button.contact > md-icon {
  fill:black;
  width:36px;
  height:36px;
}


#content .md-button.contact:active > md-icon {
  background-color: #dadada;
  border-radius: 75%;
  padding:4px;
  transition: all 100ms ease-out 30ms;
}


/* Utils */

/* Typography support coming in 0.8.0 */

.avatar {
  position:relative;
  width: 54px;
  height: 54px;
  border: 1px solid #ddd;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  margin: 0px;
  vertical-align: middle;

}


md-bottom-sheet  md-icon {
  margin-right:20px;
}

span.name {
  font-weight: bold;
  font-size:1.1em;
  padding-left:5px;
}
