/* Body */

body {
    overflow-x: hidden;
    font-family: 'Roboto';
    color: #333333 !important;
    margin: 0;
    padding: 0;
    display: flex;
}

div[ui-view] {
    /*background-color: #F4F5F7 !important;*/
    width: 100%;
}


/* Toolbars */

md-toolbar.modal-toolbar {
    background-color: #F4F5F7 !important;
}


/* Main container */

.mainContainer {
    flex: 1;
}


/* Icons */

md-input-container:not(.md-input-invalid)>md-icon {
    color: #0A1F37;
}

md-input-container.md-input-invalid>md-icon {
    color: red;
}

md-icon.avatar {
    margin-right: 20px;
}

md-icon.icon {
    margin-right: 20px;
}


/* md-toast error */

md-toast.toast-error .md-toast-content {
    background-color: red;
}


/* links on md-buttons */

a.md-button,
a.md-button:hover,
a.md-button:active,
a.md-button:visited {
    color: white;
}


/* md-select */

md-select.option {
    max-width: 150px;
}


/* md-button */

.md-button.md-raised.md-primary {
    color: white !important;
}

a.md-button {
    line-height: 52px;
}

.form {
    margin: 0 auto;
}

a.buttonText.loginBtn {
    min-width: 140px;
}

a.buttonText.exitBtn {
    min-width: 100px;
}

.mainHeader.mainHeaderNotLogged {
    width: 90%;
}

md-menu-item {
    color: black;
}

md-toolbar h4 {
    margin: auto;
    font-weight: 500;
}

h4 {
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;
    cursor: default;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE/Edge */
    user-select: none;
}


/* Sidenav area */

md-list-item>button {
    width: 100%;
    text-align: left !important;
    height: 70px;
}


/* Utils */

.avatar {
    position: relative;
    width: 54px;
    height: 54px;
    border: 1px solid #ddd;
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
    margin: 0px;
    vertical-align: middle;
}

md-bottom-sheet md-icon {
    margin-right: 20px;
}

span.name {
    font-weight: bold;
    font-size: 1.1em;
    padding-left: 5px;
}


/* Error message */

.errorMessage {
    color: red;
    margin: 0 auto;
    margin-bottom: 4%;
}


/* New button */

.new-button md-icon {
    color: white !important;
}


/* md-content */

md-content {
    background-color: inherit;
}