<topbar page="$ctrl.title"></topbar>

<md-content layout-padding>
    <md-card class="confirm-card">
        <img ng-src="{{$ctrl.imagesServer}}/600/600/images/agfa_banner.jpg" class="md-card-image" alt="Washed Out">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">{{'app.account.confirm.title' | translate}}</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <form name="confirmUserForm" ng-submit="$ctrl.confirm(confirmUserForm)" enctype="multipart/form-data" novalidate>
                <div class="form-container">
                    <div class="avatar-container">
                        <file-input file="$ctrl.file"></file-input>
                    </div>
                    <div class="inputs-container">
                        <md-input-container>
                            <label>{{'app.account.signup.name' | translate}}</label>
                            <input type="text" name="name" ng-model="$ctrl.user.name" required/>
                            <div ng-messages="confirmUserForm.name.$error">
                                <div ng-message="required">{{'required' | translate}}</div>
                            </div>
                        </md-input-container>


                        <md-input-container>
                            <label>{{'app.account.signup.email' | translate}}</label>
                            <input type="email" name="email" ng-model="$ctrl.user.email" ng-pattern="/^.+@.+\..+$/" ng-required="true" mongoose-error/>
                            <div ng-messages="confirmUserForm.email.$error">
                                <div ng-message="required">{{'required' | translate}}</div>
                                <div ng-message-exp="['pattern']">{{'app.account.signup.validMail' | translate}}</div>
                                <div ng-message="mongoose">{{ $ctrl.errors.email }}</div>
                            </div>
                            <div ng-messages="confirmUserForm.email.$error.mongoose">
                                <div ng-message="mongoose">{{ $ctrl.errors.email }}</div>
                            </div>
                        </md-input-container>


                        <md-input-container>
                            <label>{{'app.account.settings.address' | translate}}</label>
                            <input type="text" name="address" ng-model="$ctrl.user.address" ng-required="true" />
                            <div ng-messages="confirmUserForm.address.$error">
                                <div ng-message="required">{{'required' | translate}}</div>
                            </div>
                        </md-input-container>


                        <md-input-container>
                            <label>{{'password' | translate}}</label>
                            <input type="password" name="password" ng-minlength="6" ng-model="$ctrl.user.password" required mongoose-error/>
                            <div ng-messages="confirmUserForm.password.$error">
                                <div ng-message="required">{{'required' | translate}}</div>
                                <div ng-message="minlength">{{'app.account.settings.passwordMinLength' | translate}}</div>
                                <div ng-message="mongoose">{{ $ctrl.errors.password }}</div>
                            </div>
                        </md-input-container>

                        <md-input-container>
                            <label>{{'app.account.settings.confirmNewPassword' | translate}}</label>
                            <input type="password" name="confirmPassword" ng-model="$ctrl.user.confirmPassword" ng-minlength="6" match="$ctrl.user.password" required>
                            <div ng-messages="confirmUserForm.confirmPassword.$error">
                                <div ng-message="required">{{'required' | translate}}</div>
                                <div ng-message="minlength">{{'app.account.settings.passwordMinLength' | translate}}</div>
                                <div ng-message="match">{{'app.account.settings.passwordMatch"' | translate}}</div>
                            </div>
                        </md-input-container>

                        <md-input-container>
                            <label>{{'app.account.signup.role' | translate}}</label>
                            <md-select name="role" class="option md-no-underline" ng-model="$ctrl.user.role" disabled>
                                <md-option ng-repeat="role in $ctrl.roles" value="{{role}}">{{role}}</md-option>
                            </md-select>
                            <div ng-messages="confirmUserForm.role.$error">
                                <div ng-message="required">{{'required' | translate}}</div>
                            </div>
                        </md-input-container>

                        <p class="errorMessage">{{ $ctrl.errors.other }}</p>

                        <div class="actions-container">
                            <md-button type="submit" class="md-raised md-primary">{{'app.account.confirm.confirm' | translate}}</md-button>
                        </div>
                    </div>
                </div>
            </form>
        </md-card-content>
    </md-card>
</md-content>
