<div class="paddedBlock md-inline-form" layout="column" ng-cloak>
	<md-toolbar class="md-whiteframe-z1 form">
		<h4>Confirmar Usuario</h4>
	</md-toolbar>
	<md-content class="paddedForm form" layout-padding>
		<div>
			<form name="confirmUserForm" ng-submit="cc.confirm(confirmUserForm)" enctype="multipart/form-data" novalidate>
				<div layout-gt-xs="row">

					<div class="genericForm" layout-gt-sm="column">

						<md-input-container class="md-block" flex-gt-sm>
							<label>Nombre</label>
							<md-icon>person</md-icon>
							<input type="text" name="name" ng-model="cc.user.name" required/>
							<div ng-messages="confirmUserForm.name.$error">
								<div ng-message="required">Campo obligatorio</div>
							</div>
						</md-input-container>


						<md-input-container class="md-block" flex-gt-sm>
							<label>E-mail</label>
							<md-icon>mail</md-icon>
							<input type="email" name="email" ng-model="cc.user.email" ng-pattern="/^.+@.+\..+$/" ng-required="true" mongoose-error/>
							<div ng-messages="confirmUserForm.email.$error">
								<div ng-message="required">Campo obligatorio</div>
								<div ng-message-exp="['pattern']">El email introducido debe ser válido</div>
								<div ng-message="mongoose">{{ cc.errors.email }}</div>
							</div>
							<div ng-messages="confirmUserForm.email.$error.mongoose">
								<div ng-message="mongoose">{{ cc.errors.email }}</div>
							</div>
						</md-input-container>


						<md-input-container class="md-block" flex-gt-sm>
							<label>Dirección</label>
							<md-icon>location_city</md-icon>
							<input type="text" name="address" ng-model="cc.user.address" ng-required="true"/>
							<div ng-messages="confirmUserForm.address.$error">
								<div ng-message="required">Campo obligatorio</div>
							</div>
						</md-input-container>


						<md-input-container class="md-block" flex-gt-sm>
							<label>Contraseña</label>
							<md-icon>vpn_key</md-icon>
							<input type="password" name="password" ng-minlength="6" ng-model="cc.user.password" required mongoose-error/>
							<div ng-messages="confirmUserForm.password.$error">
								<div ng-message="required">Campo obligatorio</div>
								<div ng-message="minlength">La contraseña debe tener como mínimo 6 caracteres</div>
								<div ng-message="mongoose">{{ cc.errors.password }}</div>
							</div>
						</md-input-container>

						<md-input-container class="md-block" flex-gt-sm>
							<label> Confirmar nueva contraseña</label>
							<md-icon>vpn_key</md-icon>
							<input type="password" name="confirmPassword" ng-model="cc.user.confirmPassword" ng-minlength="6" match="cc.user.password"
								required>
							<div ng-messages="confirmUserForm.confirmPassword.$error">
								<div ng-message="required">Campo obligatorio</div>
								<div ng-message="minlength">La nueva contraseña debe tener mínimo 6 caracteres</div>
								<div ng-message="match">Las contraseñas deben coincidir</div>
							</div>
						</md-input-container>

						<md-input-container class="md-block" flex-gt-sm>
							<label>Rol</label>
							<md-icon>group_work</md-icon>
							<md-select name="role" class="option md-no-underline" ng-model="cc.user.role" disabled>
								<md-option ng-repeat="role in cc.roles" value="{{role}}">{{role}}</md-option>
							</md-select>
							<div ng-messages="confirmUserForm.role.$error">
								<div ng-message="required">Campo obligatorio</div>
							</div>
						</md-input-container>

						<md-input-container class="md-block" flex-gt-sm>
								<h4>Avatar</h4>
								<file-input></file-input>
						</md-input-container>


						<p class="errorMessage">{{ cc.errors.other }}</p>

						<section class="submitBtn" layout-phone="column" layout-align="center center">
							<md-button id="buttonRegister" type="submit" class="md-raised md-primary">Registrar</md-button>
						</section>
					</div>
				</div>
			</form>
		</div>
	</md-content>
</div>
