<md-sidenav ng-show="nav.isLoggedIn()" class="site-sidenav md-sidenav-left" md-component-id="left" ng-click="nav.toggleList()" aria-label="Menú" md-is-locked-open="$mdMedia('gt-sm')">

	<md-list flex>
		<header class="nav-header">
			<a ng-href="/" class="docs-logo" href="/">
				<div class="logo">
					<a href="/">
						<img ng-src="{{nav.imagesServer}}/250/250/images/agfa.jpg" alt="">
					</a>
				</div>
			</a>
		</header>

		<md-list-item ng-show="nav.isLoggedIn()" ng-repeat="it in nav.menu">
			<md-button ui-sref="{{it.state}}" flex>
				<md-icon md-svg-icon="{{it.icon}}" class="icon icon-sidenav"></md-icon>
				{{it.title}}
			</md-button>
		</md-list-item>
	</md-list>

</md-sidenav>
