/* Banner */

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

div.mainContainer {
    background-color: #edecec;
    position: relative;
    /* height: 100%;  */
    overflow-y: auto;
}


/* Submit button */

.submitBtn {
    text-align: center;
}


/* Generic form */

.genericForm {
    width: 100%;
}