.thing-form {
  margin: 20px 0;
}


body {
    overflow-x: hidden;
}

#banner {
  border-bottom: none;
  margin-top: -20px;
}

#banner h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.navbar-text {
  margin-left: 15px;
}

div.mainContainer {
  background-color: #edecec;
  position: relative;
  /* border: 1px solid red; */
  height: 100%;
  overflow-y: auto;
}

div.mainContainer div.paddedBlock {
  padding: 6% 10%;
}

.paddedForm {
  padding: 10px;
  width: 100%;
  margin-bottom: -50px;
}

.submitBtn {
  text-align: center;
}

.loginForm {
  width: 100%;
}
