/* Banner */

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}


/* Submit button */

.submit-btn {
    text-align: center;
}