<topbar page="$ctrl.title"></topbar>

<md-content layout-padding>
    <md-card class="filter-container" layout-padding>
        <div class="categorie-filter">
            <h4>Categorías</h4>
            <div>
                <md-checkbox ng-checked="$ctrl.exists(categorie, $ctrl.filter.categories)" class="md-secondary" ng-click="$ctrl.toggle(categorie, $ctrl.filter.categories)" ng-value="categorie" ng-repeat="categorie in $ctrl.allCategories">{{categorie}}</md-checkbox>
            </div>
        </div>
        <div>
            <h4>Club</h4>
            <md-input-container>
                <label>Club</label>
                <md-select name="club" md-container-class="select-padding" ng-model="$ctrl.filter.club">
                    <md-option ng-repeat="club in $ctrl.clubs" value="{{club._id}}">{{club.name}}</md-option>
                </md-select>
            </md-input-container>
        </div>
    </md-card>
</md-content>

<md-content class="teams-container" layout-padding>
    <md-card ng-repeat="team in $ctrl.teams">
        <md-card-header>
            <md-card-avatar>
                <img ng-src="{{$ctrl.imagesServer}}/100/100/uploads/{{team.club.avatar}}?fit=true&force=true" alt="{{team.name}}" class="md-user-avatar" />
            </md-card-avatar>
            <md-card-header-text>
                <span class="md-title">{{team.name}}</span>
                <span class="md-subhead">{{team.club.name}}</span>
            </md-card-header-text>
        </md-card-header>
        <md-card-content>
            <span class="md-subhead" ng-repeat="cat in team.categories">{{cat}}{{!$last ? ', ' : ''}} </span>
        </md-card-content>
        <md-card-actions ng-show="$ctrl.Auth.isAdmin()">
            <md-card-icon-actions>
                <md-button class="md-icon-button" ng-click="$ctrl.goToEdit(team._id)" aria-label="Editar equipo">
                    <md-icon>edit</md-icon>
                </md-button>
                <md-button class="md-icon-button" ng-click="$ctrl.showConfirm($event, team)" aria-label="Eliminar equipo">
                    <md-icon>delete</md-icon>
                </md-button>
            </md-card-icon-actions>
        </md-card-actions>
    </md-card>
</md-content>


<md-button class="md-fab md-mini md-secondary md-fab-bottom-right new-button new-team-button" ng-click="$ctrl.createTeam($event)" aria-label="Nuevo equipo">
    <md-tooltip md-direction="top">Nuevo equipo</md-tooltip>
    <md-icon>add</md-icon>
</md-button>