<md-toolbar class="modal-toolbar">
    <div class="md-toolbar-tools">
        Nueva jornada
    </div>
</md-toolbar>

<md-content class="create-week-modal" layout-padding>
    <form name="newWeekForm" ng-submit="$ctrl.create(newWeekForm)" enctype="multipart/form-data" novalidate>
        <div class="dates-container">
            <md-input-container>
                <label>Fecha Inicio</label>
                <md-datepicker name="startDate" required ng-model="$ctrl.week.startDate"></md-datepicker>
                <div ng-messages="newWeekForm.startDate.$error">
                    <div ng-message="required">Campo obligatorio</div>
                </div>
            </md-input-container>
            <md-input-container>
                <label>Fecha Fin</label>
                <md-datepicker name="endDate" required ng-model="$ctrl.week.endDate"></md-datepicker>
                <div ng-messages="newWeekForm.endDate.$error">
                    <div ng-message="required">Campo obligatorio</div>
                </div>
            </md-input-container>
        </div>
        <md-button class="md-primary">Crear partido</md-button>
        <md-divider></md-divider>
        <create-match></create-match>
    </form>

</md-content>