<md-toolbar class="md-table-toolbar md-default">
    <div class="md-toolbar-tools">
        <span>{{'week' | translate}} {{$ctrl.week.number}}</span>
    </div>
</md-toolbar>
<md-table-container>
    <table md-table>
        <thead md-head>
            <tr md-row>
                <th md-column><span>{{'app.match.create.localTeam' | translate}}</span></th>
                <th md-column><span>{{'app.match.create.visitingTeam' | translate}}</span></th>
                <th md-column><span>{{'app.match.create.date' | translate}}</span></th>
                <th md-column><span>{{'app.match.create.time' | translate}}</span></th>
                <th md-column><span>{{'app.match.create.field' | translate}}</span></th>
                <th md-column><span>{{'app.match.create.result' | translate}}</span></th>
                <th md-column><span>{{'app.week.actions' | translate}}</span></th>
            </tr>
        </thead>
        <tbody md-body>
            <tr md-row ng-repeat="match in $ctrl.week.matches">
                <td md-cell>{{match.localTeam.name}}</td>
                <td md-cell>{{match.visitingTeam.name}}</td>
                <td md-cell ng-click="$ctrl.editDate($event, match)" ng-class="{'md-placeholder': !match.date}">
                    {{ match.date | date:'dd/MM/yyyy'}}
                </td>
                <td md-cell class="edit" ng-click="$ctrl.editTime($event, match)" ng-class="{'md-placeholder': !match.time}">
                    {{match.time | date:'HH:mm'}}
                </td>
                <td md-cell class="edit">
                    <md-select aria-label="Campo de juego" ng-model="match.field" placeholder="Campo de juego">
                        <md-option ng-selected="field._id === match.field._id" ng-value="field" ng-repeat="field in match.fields">{{field.name}}</md-option>
                    </md-select>
                </td>
                <td md-cell class="edit" ng-click="$ctrl.editResult($event, match)" ng-class="{'md-placeholder': !match.result}">
                    {{match.result || ('app.match.create.result' | translate)}}
                </td>
                <td md-cell class="actions-cell">
                    <input ngf-select type="file" name="record" class="ng-hide record-input-{{$index}}" ng-model="match.file">
                    <md-button ng-if="match.result" class="md-icon-button record md-inline" ng-click="$ctrl.uploadPdf($event, match, $index)">
                        <md-tooltip>{{'newRecord' | translate}}</md-tooltip>
                        <md-icon>attach_file</md-icon>
                    </md-button>
                    <md-button ng-if="match.record" class="md-icon-button md-inline" ng-href="../../assets/uploads/{{match.record}}" target="_blank">
                        <md-tooltip>{{'record' | translate}}</md-tooltip>
                        <md-icon>insert_drive_file</md-icon>
                    </md-button>
                </td>
            </tr>
        </tbody>
    </table>
</md-table-container>