<md-toolbar class="md-table-toolbar md-default">
    <div class="md-toolbar-tools">
        <span>Jornada {{$ctrl.info.number}}</span>
    </div>
</md-toolbar>
<md-table-container>
    <table md-table>
        <thead md-head>
            <tr md-row>
                <th md-column><span>Equipo local</span></th>
                <th md-column><span>Equipo visitante</span></th>
                <th md-column><span>Fecha</span></th>
                <th md-column><span>Hora</span></th>
                <th md-column><span>Campo de juego</span></th>
            </tr>
        </thead>
        <tbody md-body>
            <tr md-row ng-repeat="match in $ctrl.info.matches">
                <td md-cell>{{match.localTeam.name}}</td>
                <td md-cell>{{match.visitingTeam.name}}</td>
                <td md-cell ng-click="$ctrl.editDate($event, match)" ng-class="{'md-placeholder': !match.date}">{{match.date || 'Introduce una fecha'}}</td>
                <td md-cell ng-click="$ctrl.editTime($event, match)" ng-class="{'md-placeholder': !match.time}">{{match.time || 'Introduce una hora'}}</td>
                <td md-cell>
                    <md-select aria-label="Campo de juego" ng-model="match.field" placeholder="Campo de juego">
                        <md-option ng-selected="field._id === match.field._id" ng-value="field" ng-repeat="field in match.fields">{{field.name}}</md-option>
                    </md-select>
                </td>
            </tr>
        </tbody>
    </table>
</md-table-container>