.create-week-modal {
    min-width: 500px;
    display: flex;
}

.create-week-modal form {
    width: 100%;
}

.create-week-modal form .select-container {
    max-width: 200px;
}

.dates-container {
    display: flex;
    flex-direction: row;
}

td.actions-cell {
    display: flex;
}

td.not-editable {
    cursor: text !important;
}

/* .weeks-container create-match .match-container {
    border-bottom: 1px solid red;
}

.weeks-container create-match .match-container:last-child {
    border: none;
} */
