.create-team-modal {
    min-width: 500px;
    display: flex;
}

.create-team-modal form {
    width: 100%;
}

.create-team-modal form .select-container {
    max-width: 200px;
}

.create-team-modal section {
    display: flex;
    justify-content: flex-end;
}