<md-toolbar class="modal-toolbar">
    <div class="md-toolbar-tools">
        Nuevo equipo
    </div>
</md-toolbar>
<md-content class="create-team-modal" layout-padding>
    <form name="newTeamForm" ng-submit="$ctrl.create(newTeamForm)" enctype="multipart/form-data" novalidate>

        <md-input-container>
            <label>Nombre</label>
            <input mongoose-error type="text" name="name" ng-model="$ctrl.team.name" required/>
            <div ng-messages="newTeamForm.name.$error">
                <div ng-message="required">Campo obligatorio</div>
                <div ng-message="mongoose">{{ $ctrl.errors.name }}</div>
            </div>
        </md-input-container>

        <md-input-container class="select-container">
            <label>Categoría</label>
            <md-select mongoose-error name="categories" md-container-class="select-padding" ng-model="$ctrl.categoriesSelected" required multiple>
                <md-option class="md-secondary" ng-value="categorie.name" ng-repeat="categorie in $ctrl.allCategories">{{categorie.name}}</md-option>
            </md-select>
            <div ng-messages="newTeamForm.categories.$error">
                <div ng-message="required">Campo obligatorio</div>
                <div ng-message="mongoose">{{ $ctrl.errors.categories }}</div>
            </div>
        </md-input-container>

        <div class="inline-input-container">
            <md-input-container class="select-container md-inline">
                <label>Club (Usuario)</label>
                <md-select mongoose-error name="club" ng-change="$ctrl.selectedItemChange()" md-container-class="select-padding" ng-model="$ctrl.clubSelected">
                    <md-option ng-repeat="club in $ctrl.clubs" value="{{club._id}}">{{club.name}}</md-option>
                </md-select>
                <div ng-messages="newTeamForm.club.$error">
                    <div ng-message="required">Campo obligatorio</div>
                    <div ng-message="mongoose">{{ $ctrl.errors.club }}</div>
                </div>
            </md-input-container>

            <md-input-container class="select-container md-inline">
                <label>Equipo padre</label>
                <md-select mongoose-error name="parentTeam" md-container-class="select-padding" ng-model="$ctrl.parentTeam" ng-disabled="!$ctrl.selectParentTeam">
                    <md-option ng-repeat="team in $ctrl.clubTeams" value="{{team}}">{{team.name}}</md-option>
                </md-select>
                <div ng-messages="newTeamForm.club.$error">
                    <div ng-message="mongoose">{{ $ctrl.errors.parentTeam }}</div>
                </div>
            </md-input-container>
        </div>

        <md-input-container>
            <label>Descripción</label>
            <textarea mongoose-error required name="description" ng-model="$ctrl.team.description" rows="2" md-maxlength="255" md-select-on-focus></textarea>
            <div ng-messages="newTeamForm.description.$error">
                <div ng-message="required">Campo obligatorio</div>
                <div ng-message="mongoose">{{ $ctrl.errors.description }}</div>
            </div>
        </md-input-container>

        <p class="errorMessage">{{ $ctrl.errors.other }}</p>

        <section class="submit-btn" layout-align="center center">
            <md-button id="buttonRegister" type="submit" class="md-raised md-primary">Crear</md-button>
        </section>
    </form>
</md-content>