<!-- <div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Sign up</h1>
    </div>
    <div class="col-sm-12">
      <form class="form" name="form" ng-submit="vm.register(form)" novalidate>

        <div class="form-group" ng-class="{ 'has-success': form.name.$valid && vm.submitted,
                                            'has-error': form.name.$invalid && vm.submitted }">
          <label>Name</label>

          <input type="text" name="name" class="form-control" ng-model="vm.user.name"
                 required/>
          <p class="help-block" ng-show="form.name.$error.required && vm.submitted">
            A name is required
          </p>
        </div>

        <div class="form-group" ng-class="{ 'has-success': form.email.$valid && vm.submitted,
                                            'has-error': form.email.$invalid && vm.submitted }">
          <label>Email</label>

          <input type="email" name="email" class="form-control" ng-model="vm.user.email"
                 required
                 mongoose-error/>
          <p class="help-block" ng-show="form.email.$error.email && vm.submitted">
            Doesn't look like a valid email.
          </p>
          <p class="help-block" ng-show="form.email.$error.required && vm.submitted">
            What's your email address?
          </p>
          <p class="help-block" ng-show="form.email.$error.mongoose">
            {{ vm.errors.email }}
          </p>
        </div>

        <div class="form-group" ng-class="{ 'has-success': form.password.$valid && vm.submitted,
                                            'has-error': form.password.$invalid && vm.submitted }">
          <label>Password</label>

          <input type="password" name="password" class="form-control" ng-model="vm.user.password"
                 ng-minlength="3"
                 required
                 mongoose-error/>
          <p class="help-block"
             ng-show="(form.password.$error.minlength || form.password.$error.required) && vm.submitted">
            Password must be at least 3 characters.
          </p>
          <p class="help-block" ng-show="form.password.$error.mongoose">
            {{ vm.errors.password }}
          </p>
        </div>

        <div class="form-group" ng-class="{ 'has-success': form.confirmPassword.$valid && vm.submitted,
                                            'has-error': form.confirmPassword.$invalid && vm.submitted }">
          <label>Confirm Password</label>
          <input type="password" name="confirmPassword" class="form-control" ng-model="vm.user.confirmPassword"
                 match="vm.user.password"
                 ng-minlength="3" required/>
          <p class="help-block"
             ng-show="form.confirmPassword.$error.match && vm.submitted">
            Passwords must match.
          </p>
        </div>

        <div>
          <button class="btn btn-inverse btn-lg btn-register" type="submit">
            Sign up
          </button>
          <a class="btn btn-default btn-lg btn-login" ui-sref="login">
            Login
          </a>
        </div>

        <hr/>
        <div class="row">
          <div class="col-sm-4 col-md-3">
            <oauth-buttons classes="btn-block"></oauth-buttons>
          </div>
        </div>
      </form>
    </div>
  </div>
  <hr>
</div>
-->
<div class="paddedBlock" layout="column" ng-cloak class="md-inline-form">
  <md-toolbar class="md-whiteframe-z1">
    <h4>Nuevo usuario</h4>
  </md-toolbar>
  <md-content class="paddedForm" layout-padding>
    <div>
      <form name="newUserForm" ng-submit="vm.register(newUserForm)" novalidate>
	<div layout-gt-xs="row">

		<div class="loginForm" layout-gt-sm="column">

			<md-input-container class="md-block" flex-gt-sm>
				<label>Nombre</label>
				<md-icon md-svg-icon="person" class="icon"></md-icon>
				<input type="text" name="name" class="form-control" ng-model="vm.user.name" required/>
				<div ng-messages="newUserForm.name.$error">
					<div ng-message="required">Campo requerido</div>
				</div>
			</md-input-container>
			  
			  
            <md-input-container class="md-block" flex-gt-sm>
              <label>E-mail</label>
              <md-icon md-svg-icon="email" class="icon"></md-icon>
              <input type="email" name="email" ng-model="vm.user.email" 
                ng-pattern="/^.+@.+\..+$/" ng-required="true">
              <div ng-messages="userForm.email.$error">
                <div ng-message="required">Campo requerido</div>
                <div ng-message-exp="['pattern']">El email introducido debe ser válido</div>
              </div>
            </md-input-container>
             

            <md-input-container class="md-block" flex-gt-sm>
              <label>Contraseña</label>
              <md-icon md-svg-icon="password" class="password"></md-icon>
              <input type="password" name="password" class="form-control" ng-model="vm.user.password" required>
              <div ng-messages="userForm.password.$error">
                <div ng-message="required">Campo requerido</div>
              </div>
            </md-input-container>
            
            
            <p class="help-block">{{ vm.errors.other }}</p>
            <section class="submitBtn" layout-phone="column" layout-align="center center">
              <md-button type="submit" class="md-raised md-primary">Iniciar sesión</md-button>
            </section>
          </div>


        </div>
      </form>
    </div>
  </md-content>
</div>