<div class="paddedBlock md-inline-form" layout="column" ng-cloak>
	<md-toolbar class="md-whiteframe-z1 form">
		<h4>Nuevo usuario</h4>
	</md-toolbar>
	<md-content class="paddedForm" layout-padding>
		<div>
			<form name="newUserForm" ng-submit="vm.register(newUserForm)" enctype="multipart/form-data" novalidate>
				<div layout-gt-xs="row">

					<div class="loginForm" layout-gt-sm="column">

						<md-input-container class="md-block" flex-gt-sm>
							<label>Nombre</label>
							<md-icon md-svg-icon="person" class="icon"></md-icon>
							<input type="text" name="name" ng-model="vm.user.name" required/>
							<div ng-messages="newUserForm.name.$error">
								<div ng-message="required">Campo obligatorio</div>
							</div>
						</md-input-container>

						<md-input-container class="md-block" flex-gt-sm>
							<label>E-mail</label>
							<md-icon md-svg-icon="email" class="icon"></md-icon>
							<input type="email" name="email" ng-model="vm.user.email" ng-pattern="/^.+@.+\..+$/" ng-required="true" mongoose-error/>
							<div ng-messages="newUserForm.email.$error">
								<div ng-message="required">Campo obligatorio</div>
								<div ng-message-exp="['pattern']">El email introducido debe ser válido</div>
								<div ng-message="mongoose">{{ vm.errors.email }}</div>
							</div>
							<div ng-messages="newUserForm.email.$error.mongoose">
								<div ng-message="mongoose">{{ vm.errors.email }}</div>
							</div>
						</md-input-container>

						<md-input-container class="md-block" flex-gt-sm>
							<label>Rol</label>
							<md-icon md-svg-icon="person" class="icon"></md-icon>
							<md-select name="role" class="option" ng-model="vm.user.role" required>
								<md-option ng-repeat="role in vm.roles" value="{{role}}">{{role}}</md-option>
							</md-select>
							<div ng-messages="newUserForm.role.$error">
								<div ng-message="required">Campo obligatorio</div>
							</div>
						</md-input-container>

						<p class="help-block">{{ vm.errors.other }}</p>

						<section class="submitBtn" layout-phone="column" layout-align="center center">
							<md-button type="submit" class="md-raised md-primary">Enviar mail de registro</md-button>
						</section>
					</div>
				</div>
			</form>
		</div>
	</md-content>
</div>
