<md-content>
	<input id ="fileInput" ngf-select type="file" name="file" ng-model="$parent.file" aria-label="file input">
	<md-button id="uploadButton" class="md-fab md-mini md-primary" aria-label="attach_file">
		<md-icon>file_upload</md-icon>
	</md-button>
	<md-input-container md-no-float>
		<input id="textInput" ng-model="fileName" type="text" placeholder="Ningún archivo seleccionado" ng-readonly="true">
	</md-input-container>

  <img id="preview" ngf-resize="{width: 200, height: 200, centerCrop: true, restoreExif: false}" ngf-src="!vm.file.$error && $parent.file" alt="Imagen seleccionada"/>
</md-content>
