#preview {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  float: right;
  margin-right: 30%;
  margin-bot: 10%;
}

#fileInput {
  display: none;
}

#textInput {
  vertical-align: middle;
}
