<topbar page="$ctrl.title"></topbar>

<md-content layout-padding>
    <!--<md-toolbar>
        <div class="md-toolbar-tools">
            <span class="md-title">Introduce todos los datos</span>
        </div>
    </md-toolbar>-->
    <form name="newCompetitionForm" ng-submit="$ctrl.submit(newCompetitionForm)" enctype="multipart/form-data" novalidate>
        <md-card class="step-1" layout-padding>

            <md-input-container md-no-float>
                <input type="text" name="name" placeholder="Nombre" required ng-model="$ctrl.competition.name">
                <div ng-messages="newCompetitionForm.name.$error">
                    <div ng-message="required">Campo obligatorio</div>
                </div>
            </md-input-container>
            <md-input-container>
                <label>Categoría</label>
                <md-select mongoose-error name="categorie" ng-change="$ctrl.updateTeams()" md-container-class="select-padding" ng-model="$ctrl.competition.categorie" required>
                    <md-option class="md-secondary" ng-value="categorie.name" ng-repeat="categorie in $ctrl.categories">{{categorie.name}}</md-option>
                </md-select>
                <div ng-messages="newCompetitionForm.categorie.$error">
                    <div ng-message="required">Campo obligatorio</div>
                </div>
            </md-input-container>
            <md-input-container>
                <label>Equipos</label>
                <md-select name="teams" ng-disabled="!$ctrl.hasTeams" md-container-class="select-padding" ng-model="$ctrl.competition.teamsSelected" multiple required>
                    <md-option class="md-secondary" ng-value="team" ng-repeat="team in $ctrl.teams">{{team.name}}</md-option>
                </md-select>
                <div ng-messages="newCompetitionForm.teams.$error">
                    <div ng-message="required">Campo obligatorio</div>
                </div>
            </md-input-container>

            <md-input-container md-no-float>
                <input type="number" name="numberofweeks" min="1" placeholder="Número de jornadas" required ng-model="$ctrl.numberOfWeeks" ng-change="$ctrl.onChangeWeeks()">
                <div ng-messages="newCompetitionForm.numberofweeks.$error">
                    <div ng-message="required">Campo obligatorio</div>
                    <div ng-message="min">Debe haber mínimo una jornada por competición</div>
                </div>
            </md-input-container>

            <md-input-container md-no-float>
                <input type="number" name="numberofmatches" min="1" placeholder="Número de partidos por jornada" required ng-model="$ctrl.numberOfMatches" ng-change="$ctrl.onChangeMatches()">
                <div ng-messages="newCompetitionForm.numberofmatches.$error">
                    <div ng-message="required">Campo obligatorio</div>
                    <div ng-message="min">Debe haber mínimo un partido por jornada</div>
                </div>
            </md-input-container>
        </md-card>

        <div class="weeks-container" ng-show="$ctrl.numberOfWeeks && $ctrl.numberOfMatches && $ctrl.teams.length">
            <md-card ng-repeat="week in $ctrl.weeks">
                <md-card-title>
                    <h4>Jornada {{week.number}}</h4>
                </md-card-title>
                <md-divider></md-divider>
                <create-match teams="$ctrl.competition.teamsSelected" ng-model="match" match="match" ng-repeat="match in week.matches track by $index"></create-match>
            </md-card>
        </div>

        <section class="actions-container">
            <span flex></span>
            <md-button type="submit" class="md-primary new-week-button">
                Crear competición
            </md-button>
        </section>
    </form>
</md-content>