<topbar page="{{'app.fields.title' | translate}}"></topbar>

<md-content layout-padding>
    <md-card class="teams-card" ng-show="$ctrl.fields.length">
        <md-list>
            <md-list-item class="md-3-line" ng-repeat="field in $ctrl.fields">
                <div class="md-list-item-text">
                    <strong>{{field.name}}</strong>
                    <div class="md-inline">
                        <p ng-repeat="team in field.teams">{{ team.name}}{{!$last ? ', ' : ' '}}<span> </span></p>
                    </div>

                    <small>{{field.address}}</small>
                </div>
                <md-button class="md-icon-button md-secondary zoom-button" aria-label="Zoom" ng-click="$ctrl.zoom($event,field)">
                    <md-tooltip>{{'app.fields.zoom' | translate}}</md-tooltip>
                    <md-icon>zoom_in</md-icon>
                </md-button>
                <md-button class="md-icon-button md-secondary edit-button" aria-label="Editar" ui-sref="editField({id: field._id})">
                    <md-tooltip>{{'app.fields.edit' | translate}}</md-tooltip>
                    <md-icon>edit</md-icon>
                </md-button>
                <md-button class="md-icon-button md-secondary" aria-label="Eliminar" ng-click="$ctrl.showConfirm($event,field)">
                    <md-tooltip>{{'app.fields.delete' | translate}}</md-tooltip>
                    <md-icon>delete</md-icon>
                </md-button>
            </md-list-item>
        </md-list>
    </md-card>
</md-content>

<md-button ng-class="{ 'md-mini': !$ctrl.$mdMedia('gt-sm') }" class="md-fab md-secondary md-fab-bottom-right new-button new-field-button" ng-click="$ctrl.createField($event)" aria-label="{{'app.fields.new' | translate}}">
    <md-tooltip md-direction="top">{{'app.fields.new' | translate}}</md-tooltip>
    <md-icon>add</md-icon>
</md-button>