<topbar page="{{'app.teams.edit.title' | translate}}"></topbar>

<md-content>
    <md-card class="edit-card">
        <md-card-title>
            <md-card-title-text>
                <h4 class="md-title">{{::$ctrl.team.name}}</h4>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <form layout-padding name="editTeamForm" ng-submit="$ctrl.create(editTeamForm)" enctype="multipart/form-data" novalidate>

                <md-input-container>
                    <label>{{'app.account.signup.name' | translate}}</label>
                    <input type="text" name="name" ng-model="$ctrl.team.name" required/>
                    <div ng-messages="editTeamForm.name.$error">
                        <div ng-message="required">{{'required' | translate}}</div>
                        <div ng-message="mongoose">{{ 'app.teams.edit.nameInUse' | translate }}</div>
                    </div>
                </md-input-container>

                <md-input-container class="select-container">
                    <label>{{'categories' | translate}}</label>
                    <md-select name="categories" md-container-class="select-padding" ng-model="$ctrl.categoriesSelected" required multiple>
                        <md-option ng-selected="{{$ctrl.categoriesSelected.indexOf(category.name) ? true : false}}" ng-value="category.name" ng-repeat="category in $ctrl.allCategories">{{category.name}}</md-option>
                    </md-select>
                    <div ng-messages="editTeamForm.categories.$error">
                        <div ng-message="required">{{'required' | translate}}</div>
                    </div>
                </md-input-container>

                <md-input-container class="select-container md-inline">
                    <label>{{'app.teams.edit.clubUser' | translate}}</label>
                    <md-select name="club" ng-change="$ctrl.selectedItemChange()" md-container-class="select-padding" ng-model="$ctrl.clubSelected">
                        <md-option ng-selected="{{club._id === $ctrl.clubSelected}}" ng-repeat="club in $ctrl.clubs" value="{{club._id}}">{{club.name}}</md-option>
                    </md-select>
                    <div ng-messages="newTeamForm.club.$error">
                        <div ng-message="required">{{'required' | translate}}</div>
                    </div>
                </md-input-container>

                <md-input-container class="select-container">
                    <label>{{'app.teams.edit.parentTeam' | translate}}</label>
                    <md-select name="parentTeam" md-container-class="select-padding" placeholder="{{'app.teams.edit.parentTeam' | translate}}" ng-model="$ctrl.parentTeam" ng-disabled="!$ctrl.selectParentTeam">
                        <md-option ng-selected="{{!$ctrl.parentTeam}}" value="">{{'noone' | translate}}</md-option>
                        <md-option ng-if="team._id !== $ctrl.team._id" ng-selected="{{team._id === $ctrl.parentTeam._id ? true : false}}" ng-repeat="team in $ctrl.clubTeams" value="{{team}}">{{team.name}}</md-option>
                    </md-select>
                </md-input-container>

                <section class="actions-container">
                    <md-button type="submit" class="md-raised md-primary">{{'app.account.settings.confirm' | translate}}</md-button>
                </section>
            </form>
        </md-card-content>
    </md-card>
</md-content>
